<%layout("/layouts/boilerplate") %>
<body>
    <h3>Edit your Listing :</h3>
   <form method="post" action="/listings/<%=listing._id%>?_method=put">
        
        <input type="text" name="listing[title]" value="<%=listing.title%>" id="title"><br><br>
        <textarea type="text" name="listing[description]"  id="description"><%=listing.description%></textarea><br><br>
        <input type="number" name="listing[price]"  value="<%=listing.price%>" id="price"><br><br>
        <input type="text" name="listing[image]"  value="<%=listing.image%>" id="image"><br><br>
        <input type="text" name="listing[country]"  value="<%=listing.country%>" id="country"><br><br>
        <input type="text" name="listing[location]"  value="<%=listing.location%>" id="location"><br><br>
        <button>Add</button>

    </form> 
    
    
</body>
